main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
figure{
    width: 400px;
    height: 600px;
}
#container{
    position:relative;
}
#imgPK{
    position: absolute;
    top: 30%;
    left: 30%;
}
#formPK{
    position: absolute;
    top: 50%;
    left: 32%;
}
#nome{
    position: relative;
    bottom:28%;
    left: 30%;
}
#info1{
    position: relative;
    bottom: 25%;
    left: 30%;
}
#info2{
    position: relative;
    bottom: 25%;
    left: 30%;
}
#botoes{
    position: relative;
    bottom: 20%;
    left: 55%;
}